---
layout: categories
---

<section id="buy" class="grid resources template-bg shop-details border-bottom ">
  <div class="grid-centered padded-sides">
    <div class="col-6_sm-12 ">
      <h1 class="centered"> {{page.header-1}} <span>{{page.span-1}} </span> {{page.header-2}} <span>{{page.span-2}} </span> {{page.header-3}} </h1>
      <h5 class="margin-bottom"> {{page.product-header}} </h5>
      <p> {{page.product-description}} </p>
      <p> {{page.product-description-two}} </p>
      <p> {{page.product-description-three}} </p>
      
      <!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div class="sib-form" style="text-align: center;
           background-color: #ffffff;                                           ">
    <div id="sib-form-container" class="sib-form-container">
      <div id="sib-container" class="sib-container--medium sib-container--horizontal" style="text-align:center; background-color:rgba(255,255,255,1); max-width:350px; border-width:0px; border-color:#000000; border-style:solid;">
        <form id="sib-form" method="POST" action="https://86b73f1c.sibforms.com/serve/MUIEAADtNkh5OqdHqz9mxka-dseSzyI76ivMf5g-qHHBOl0Fkt6BJbzX_adgebFOLj3savBndR7Ost3MfLoC2zrNH32lS1hG-yBm6fxQncl3-ZmAHki3tz3GCLkK47uQsW1wFaCTzKjTn_UlUPZH-9hiZKz3m6RvdpZblArBFumiQDFllxE6Z8pFqWQovJtIO03eZHGc3IlOvicw">
          <div style="padding: 8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form_label-row form_label-row--horizontal">

                  <div class="entry__field">
                    <input class="input" maxlength="200" type="text" id="FIRSTNAME" name="FIRSTNAME" autocomplete="off" placeholder="Full Name" data-required="true" required=""/>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form_label-row form_label-row--horizontal">

                  <div class="entry__field">
                    <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Email" data-required="true" required="" />
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-form-block" style="text-align: left">
              <button class="sib-form-block_button sib-form-block_button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:&quot;Lucida Grande&quot;, sans-serif; color:#FFFFFF; background-color:#dd533b; border-width:0px;" form="sib-form" type="submit">
                <svg class="icon clickable_icon progress-indicator_icon sib-hide-loader-icon" viewBox="0 0 512 512">
                  <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                </svg>
                Download your FREE checklist!
              </button>
            </div>
          </div>
          <input type="text" name="email_address_check" value="" class="input--hidden">
          <input type="hidden" name="locale" value="en">
          <input type="hidden" name="html_type" value="simple">
        </form>
      </div>
    </div>
  </div>
  <!-- END - We recommend to place the below code where you want the form in your website html  -->
  <!-- End Sendinblue Form -->
    </div>
    <div  class="col-6_sm-12">
      <img  src="{{page.product_image}}">
    </div>
  </div>
</section>

<section class="grid-center  resources template-bg padded">
  <h3 class="col-12 centered"> {{page.info-header}}</h3>
</section>
<section class="padded-sides resources template-bg ">
  <div class="grid-middle">
    <div class="col-12 centered">
      <span class="iconify" data-icon="bi:check-circle"></span>
    </div>
    <div class="col-5_sm-12-middle left padded reg">
      <h4> {{page.heading-text-info-1}} </h4>
      <p> {{page.text-info-para-1}} </p>
      <li> <b>{{page.text-info-1-1}}</b></li><br><br>
      <li> <b>{{page.text-info-1-2}}</b></li><br><br>
      <li><b>{{page.text-info-1-3}}</b> </li>
    </div>
    <div class="col-2_sm-12 centered"> <span class="iconify" data-icon="akar-icons:plus"></span>
    </div>
    <div class="col-5_sm-12-middle padded reg">
      <h4>  {{page.heading-text-info-2}}</h4>
      <p> {{page.text-info-para-2}}</p>
    </div>
  </div>
</section>
